@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set content div relatve and then move tab buttons */
:root {
  /* Colors */
  --neutral: #f8edeb;
  --bright-pink: #fcd5ce;
  --rose: #ffb5a7;
  --bright-nude: #f9dcc4;
  --nude: #fec89a;

  /* Fonts */
  --main-font: "Roboto", sans-serif;
}
