@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set content div relatve and then move tab buttons */
:root {
  /* Colors */
  --cream: #fffcf2;
  --neutral: #f8edeb;
  --bright-pink: #fcd5ce;
  --rose: #ffb5a7;
  --bright-nude: #f9dcc4;
  --nude: #fec89a;

  /* Fonts */
  --main-font: "Roboto", sans-serif;
}

.tab-buttons-container-bottom::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 1px;
  height: 0px;
  width: 247.5px;
  border-top: solid 1px var(--cream);
}

.clicked-tab-button-bg-color {
  background-color: var(--cream);
}
